<div id="contact_{{user.id}}" data-store='{{{ userString }}}'>
    <label>
        First Name
        <input type="text" data-model="firstName"/>
    </label>
    <label>
        Last Name
        <input type="text" data-model="lastName"/>
    </label>
    <label>
        Email
        <input type="text" data-model="email"/>
    </label>
    <div>
        <button data-on-click="$put('/examples/click_to_edit/contact/{{user.id}}')">Save</button>
        <button data-on-click="$get('/examples/click_to_edit/contact/{{user.id}}')">Cancel</button>
    </div>
</div>
